<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=C:\Users\ericksl\Desktop\CursoCSharp\Banco\database.sql;Integrated Security=True" />
  </connectionStrings>
</configuration>